body {
	color: white;
	margin: 0;
	background: radial-gradient(ellipse at bottom,#1f252e,#111827) fixed;
}
body::-webkit-scrollbar{
	display: none;
}
#navbar {
	background-color: transparent;
	min-width: 100%;
	height: 60px;
	position: absolute;
	z-index: 2;
}


#nav_list {
	display: flex;
	margin-top: 1.5%;
	float: right;
}

#socal {
	position: absolute;
	margin-left: 80%;
	cursor: pointer
}
#log-text{
	text-shadow:0px 3px 8px #7e57c2 ;
	padding-left: 1vw;
	color: white;
	font-size: 30px;
	display: block;
	cursor: pointer;
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	float: left;
}
.list_item {
	margin-right: 40px;
	margin-top: 10px;
	list-style-type: none;
	cursor: pointer;
	color: #fff
}
#banner-section{
    background-image: radial-gradient(circle at top left,rgba(45,0,136,.5333333333333333) 0,hsla(0,0%,100%,0) 50%);
}

#banner {
    height: 100vh;
    width:  100vw;
	z-index: 1;
	position: relative;
	padding-top: 8.5%;
	background-image: url('../statics/banner-1.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#top-bar {
	width: 100%;
	height: 30px;
	padding-top: 15px;
	border-radius: 15px 15px 0 0;
	background-color: #7e57c2
}

#form {
	height: 500px;
	position: relative;
	color: white;
	width: 25vw;
	margin-top: 0;
	overflow: hidden;
	left: 60vw;
	border-radius: 15px;
	background-color: rgba(51, 50, 50, 0.358);
	box-shadow: rgba(50, 50, 93, .25) 0 50px 100px -20px, rgba(0, 0, 0, .3) 0 30px 60px -30px, rgba(10, 37, 64, .35) 0 -2px 6px 0 inset
}

.span1 {
	color: #fff;
	margin-left: 25%;
	cursor: pointer;
	border: 0;
	background-color: transparent
}

#login-div {
	height: 100%;
	width: 100%;
	display: block;
}

#welc-msg {
	font-family: monospace;
	font-size: 1.5vw;
	margin-left: 25%;
	margin-top: 20%;
	margin-bottom: 40px;
	display: block;
}

.input-box {
	display: block;
	border: 2px solid #3b3939;
	width: 15vw;
	height: 30px;
	margin-bottom: 10px;
	margin-left: 18%;
	border-radius: 5px
}

.input-box:hover {
	transform: scale(1.09);
}

#login-btn {
	display: block;
	box-shadow: #7e57c2 0px 2px 8px 0px;
	border: 0px;
	width: 8vw;
	color: #f5f5f5;
	height: 40px;
	margin-top: 10%;
	margin-left: 35%;
	border-radius: 5px;
	background-color: #7e57c2;
}

#login-btn:hover {
	box-shadow: #313739 0 5px 15px
}

#forget {
	margin-left: 35%;
	cursor: pointer
}

#terms {
	margin-left: 20%;
	font-family: monospace;
	font-size: 1.2vw;
	display: inline-flex;
	cursor: pointer
}

#register-div {
	height: 100%;
	width: 100%;
	display: none
}

#reg-msg {
	font-family: monospace;
	font-size: 23px;
	margin-left: 15%;
	margin-top: 15%;
	margin-bottom: 40px;
	display: block
}

#home-details {
	position: relative;
	padding-top: 2%;
	padding: 5%;
	height: 40vh;
	font-size: 1.3vw;
	color: #000;
	display: block;
}


#rep-home{
    display: none;
}
#nav-float{
    display: none;
}
.left-div{
	width:50% ;
	float: left;
}
.right-div{
	width:50% ;
	float: right;
	display: flex;
	margin-top: -20px;
	justify-content: center;
}
.mt{
	margin-top: -40px;
}
#head-txt{
	text-align: center;
	font-size: 40px;
	color: #7e57c2;
	text-shadow:0px 2px 8px #7e57c2 ;
}
#about-body{
	padding-left: 10%;
	color: white;
	text-shadow:0px 2px 8px #7e57c2 ;
}
#latest-event{
	display: flex;
	position: relative;
	justify-content: center;
	width: 100vw;
}
.slider {
	width: 78.2vw;
	text-align: center;
	overflow: hidden;
  }
  
.slides {
	display: flex;
	overflow-x: auto;
	margin-bottom: 50px;
	scroll-snap-type: x mandatory;
	box-shadow: rgba(114, 171, 227, 0.527) 0px 8px 9px;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
.slides::-webkit-scrollbar-thumb {
	background: blueviolet;
	border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
	background: gray;
	border-radius: 10px;
}
.slides>div>img{
	height: 70%;
	background-position: center;
	display: block;
	border-radius: 10px;
}
.slides > div {
	scroll-snap-align: start;
	flex-shrink: 0;
	width: 70vw;
	overflow: hidden;
	height: 70vh;
	margin-right: 50px;
	border-radius: 15px;
	background: #7e57c2;
	transform-origin: center center;
	transform: scale(1);
	transition: transform 0.5s;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	font-size: 1.3vw;
	padding: 4vw;
  }

.slides > div>h4{
	color: red;
	margin-right: 50px;
	font-size: 25px;
	display: flex;
	justify-content: center;
}

#about-page-b{
	background-image: radial-gradient(circle at top left,rgba(45,0,136,.5333333333333333) 0,hsla(0,0%,100%,0) 50%);
	width: 100%;
	height: 90vh;
	position: relative;
	padding-top: 8.5%;
	padding-bottom: 8.5%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#about-page-b > div{
	border: 2px solid rebeccapurple;
	border-radius: 10px;
	margin-left: 5vh;
	margin-right: 5vh;
	box-shadow: rgba(114, 171, 227, 0.527) 3px 3px 9px;
	padding-left: 5vh;
	padding-right: 5vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
	overflow-y: scroll;
	height: 95vh;
}
#about-page-b >div::-webkit-scrollbar{
	display: none;
}
#map-lpu{
	border-radius: 20px;
	height: 40vh;
	width: 60vh;
	box-shadow: rgba(114, 171, 227, 0.527) 3px 3px 9px;
}
.cont-detail{
	display: flex;
	justify-content: center;
	float: left;
	margin-left: 13vh;
	width: 25vh;
	height: 20vh;
}
.cont-detail > img{
	width: 40px;
	height: 40px;
	margin-right: 20px;
	margin-top: -8px;
}
.contant-ct{
	display: flex;
	justify-content: center;
}
.contant-ct > pre>button{
	margin-left: 27%;
	margin-top: 25px;
	padding: 10px;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 15px;
	border: 3px solid rebeccapurple;
	background-color: transparent;
	box-shadow: rgba(114, 171, 227, 0.527) 3px 3px 9px;
}
.con-inp{
	margin-top: 30px;
	height: 35px;
	padding-left: 20px;
	color: white;
	width: 420px;
	background-color: transparent;
	border: 1px solid rebeccapurple;
	border-radius: 10px;
	box-shadow: rgba(114, 171, 227, 0.527) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.con-inp::placeholder{
	color: white;
	text-indent: 5%;
}
.con-inp:hover{
	border-color: whitesmoke;
}
.con-inp:nth-last-child(2){
	height: 150px;
}

#timetable-page-b{
	background-image: radial-gradient(circle at top left,rgba(45,0,136,.5333333333333333) 0,hsla(0,0%,100%,0) 50%);
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 6%;
	padding-bottom: 8.5%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#timetable-page-b > h4{
	display: flex;
	justify-content: center;
	margin-top: -2vh;
	font-size: 40px;
	padding-bottom: 3vh;
	border-bottom: 2px solid rebeccapurple;
	padding-top: -1%;
}
#timetable-page-b > div{
	border: 2px solid rebeccapurple;
	border-radius: 10px;
	display: flex;
	position: relative;
	justify-content:flex-start;
	flex-direction: column;
	margin-left: 5vh;
	margin-right: 5vh;
	box-shadow: rgba(114, 171, 227, 0.527) 3px 3px 9px;
	padding-left: 3vh;
	padding-right: 3vh;
	padding-top: 1vh;
	padding-bottom: 6vh;
	height: 60vh;
	overflow-y: scroll;
}
#timetable-page-b >div::-webkit-scrollbar{
	display: none;
}
.t-dates{
	border: 2px solid rebeccapurple;
	width: 15%;
	height: fit-content;
	text-align: center;
	padding: 1vh;
	margin-left: 40%;
	margin-top: 3vh;
	margin-bottom: 0.3vh;
	border-radius: 10px;
}
.b-dates >span:nth-child(1){
	min-height: 8vh;
	display: flex;
	padding-top: 2vh;
	float: left;
	width: 1vh;
}
.b-dates >span:nth-child(2){
	border-left:  2px solid rebeccapurple;
	padding: 1vh;
	display: flex;
	float: right;
	height: fit-content;
	width: 80%;
}
.b-dates{
	border: 2px solid rebeccapurple;
	width: 50%;
	margin: 2px;
	height: fit-content;
	float: inline-end;
	margin-left: 22%;
	padding: 10px;
	border-radius: 10px;
}
#gallery-page-b{
	background-image: radial-gradient(circle at top left,rgba(45,0,136,.5333333333333333) 0,hsla(0,0%,100%,0) 50%);
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 8.5%;
	padding-bottom: 8.5%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#gallery-page-b>h4{
	border-bottom: 2px solid rebeccapurple;
	padding-bottom: 3vh;
	margin-top: -60px;
}
#gallery-page-b>img{
	margin: 3vh;
	width: 58vh;
	position: relative;
	height: 34vh;
	padding: 3px;
	border: 2px solid rebeccapurple;
	border-radius: 15px;
	box-shadow: rgba(114, 171, 227, 0.527) 3px 3px 9px;
}
#gallery-page-b>img:hover{
	box-shadow: rgba(234, 234, 234, 0.708) 4px 5px 15px;
}

#nut-page-b{
	background-image: radial-gradient(circle at top left,rgba(45,0,136,.5333333333333333) 0,hsla(0,0%,100%,0) 50%);
	width: 100%;
	height: 100%;
	min-height: 57vh;
	position: relative;
	padding-top: 8.5%;
	padding-bottom: 8.5%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#nut-page-b>h4{
	border-bottom: 2px solid rebeccapurple;
	padding-bottom: 3vh;
	margin-top: -6vh;
}
#nut-page-b>div{
	margin: 30px;
	overflow: hidden;
	width: 90%;
	margin-left: 3%;
	min-height: 30vh;
	padding: 4vh;
	font-size: 20px;
	border: 2px solid rebeccapurple;
	border-radius: 15px;
	box-shadow: rgba(114, 171, 227, 0.527) 3px 3px 9px;
}
#nut-page-b>div>span:nth-child(1)>img{
	height: 25vh;
}
#nut-page-b>div>span:nth-child(1){
	display: flex;
	float: left;
	width:20%;
}
#nut-page-b>div>span:nth-child(2){
	display: flex;
	float: right;
	width: 70%;
}
#traning-page-b{
	height: 100vh;
	width: 100vw;
	background-image: radial-gradient(circle at top left,rgba(45,0,136,.5333333333333333) 0,hsla(0,0%,100%,0) 50%);
}
#traning-page-b>h4{
	border-bottom: 2px solid rebeccapurple;
	padding-top: 60px;
	margin-top: 0px;
}
#body-tain-sect{
	padding-left: 4vw;
}

#body-tain-sect>div{
	height: 10vh;
	width: 90vw;
	margin: 2vh;
}
.left-train-dv{
	display: flex;
	float: left;
	width: 45%;
}
.right-train-dv{
	display: flex;
	float: right;
	width: 45%;
}
.traning-t-det{
	height: 12vh;
	overflow: hidden;
	margin: 1.5vh;
}
.traning-t-det>div{
	width: 15vw;
	position: relative;
	height: 10vh;
	margin-right: 2vw;
	text-align-last: center;
	font-size: 4vw;
	border-radius: 15px 0px;
	border: 2px double rebeccapurple;
	box-shadow: rgba(78, 96, 232, 0.527) 3px 3px 9px;
}
.traning-t-det>p{
	font-size: 1.2em;
	overflow: scroll;
}
.traning-t-det>p::-webkit-scrollbar{
	display: none;
}


@media only screen and (max-width: 700px) {
#banner{
	background-image: url('../statics/d1.png');
	height: 100vh;
}
#form{
	top: 10vh;
	left: 10vw;
	width: 80vw;
}
#log-text{
	position: absolute;
}
#nav_list{
	position: absolute;
	display: inline-flex;
	flex-direction: column;
	top: 50px;
	display: none;
}
#nav_list>li{
	background-color: #6d38cadb ;
	margin-bottom: -10px;
	height: 5vh;
	width: 80vw;
	border-bottom: 2px solid rgb(220, 210, 210);
	justify-content: center;
}
#socal{
	z-index: 99;
	position: absolute;
}
#home-detail-img{
display: none;
}
.input-box{
	width: 50vw;
}
  }
